# python stuffs
*.py[cod]
/__pycache__/

# distutils stuffs
build
dist
MANIFEST
*.egg-info
.eggs

# build stuffs
doc/*
!doc/joss-paper

# derived files
src/appendices/command-ref.rst

# editor stuff
*.swp
*~
