Bruno Kinoshita      <bruno.kinoshita@niwa.co.nz>                           Bruno P. Kinoshita
Hilary Oliver        <h.oliver@niwa.co.nz>                                  Hilary James Oliver
Mel Hall             <37735232+datamel@users.noreply.github.com>            Melanie Hall
Sadie Bartholomew    <30274190+sadielbartholomew@users.noreply.github.com>  Sadie L. Bartholomew
Tim Pillinger        <26465611+wxtim@users.noreply.github.com>              WXTIM                   <tim.pillinger@metoffice.gov.uk>
