# FORMAT: <proper-name>  <proper-email>  <commit-name>  <commit-email>
# Omit commit-name or commit-email if same as proper

Bruno Kinoshita  <kinow@apache.org> Bruno P. Kinoshita  <kinow@users.noreply.github.com>
Bruno Kinoshita  <kinow@apache.org> Bruno P. Kinoshita  <bruno.kinoshita@niwa.co.nz>
David Matthews             <david.matthews@metoffice.gov.uk>    dpmatthews
Mel Hall  <mel.hall@metoffice.gov.uk>  Melanie Hall  <37735232+datamel@users.noreply.github.com>
Mel Hall  <mel.hall@metoffice.gov.uk>  <37735232+datamel@users.noreply.github.com>
Ronnie Dutta  <ronnie.dutta@metoffice.gov.uk>  <61982285+MetRonnie@users.noreply.github.com>
Tim Pillinger  <tim.pillinger@metoffice.gov.uk>  wxtim  <26465611+wxtim@users.noreply.github.com>
Tim Pillinger  <tim.pillinger@metoffice.gov.uk>  <26465611+wxtim@users.noreply.github.com>
github-actions[bot]  <github-actions@no-reply.github.com>  <41898282+github-actions[bot]@users.noreply.github.com>
Hilary Oliver  <hilary.j.oliver@gmail.com>  Hilary James Oliver  <h.oliver@niwa.co.nz>
Hilary James Oliver <h.oliver@niwa.co.nz>
Hilary Oliver <hilary.j.oliver@gmail.com>
Sadie Bartholomew <sadie.bartholomew@metoffice.gov.uk>  Sadie L. Bartholomew <30274190+sadielbartholomew@users.noreply.github.com>
Tomek Trzeciak             <tomasz.trzeciak@metoffice.gov.uk>                       <TomekTrzeciak@users.noreply.github.com>
Tomek Trzeciak             <tomasz.trzeciak@metoffice.gov.uk>   TomekTrzeciak       <tomasz.trzeciak@metoffice.gov.uk>
