name: test

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:
    inputs:
      cylc-flow-tag:
        description: 'cylc-flow ref'
        required: true
      cylc-rose-tag:
        description: 'cylc-rose ref'
        required: true
      cylc-uis-tag:
        description: 'cylc-uis ref'
        required: true
      metomi-rose-tag:
        description: 'metomi-rose ref (for cylc-rose install)'
        required: true

jobs:
  test:
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
      - name: configure python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: configure node
        uses: actions/setup-node@v2
        with:
            node-version: '16'

      - name: checkout cylc-doc
        uses: actions/checkout@v2

      - name: install dependencies
        uses: ./.github/actions/install-dependencies

      - name: install cylc-doc
        run: pip install .[all]

      - name: install libs to document
        env:
          cylc_flow: ${{ github.event.inputs.cylc-flow-tag || 'master' }}
          meto_rose: ${{ github.event.inputs.metomi-rose-tag || 'master' }}
          cylc_rose: ${{ github.event.inputs.cylc-rose-tag || 'master' }}
          cylc_uis: ${{ github.event.inputs.cylc-uis-tag || 'master' }}
        run: |
          # NOTE: Install with [all] so we can import plugins which may
          #       have extra dependencies.
          pip install \
            "cylc-flow[all] @ git+https://github.com/cylc/cylc-flow@${cylc_flow}" \
            "cylc-rose[all] @ git+https://github.com/cylc/cylc-rose@${cylc_rose}" \
            "cylc-uiserver[all] @ git+https://github.com/cylc/cylc-uiserver@${cylc_uis}"
          git clone --depth 1 https://github.com/metomi/rose ../rose
          pip install -e ../rose

      - name: install eslint
        run: |
          npm install -g eslint

      - name: lint
        run: |
          flake8
          eslint .

      - name: build
        run: |
          make html slides linkcheck doctest SPHINXOPTS='-Wn'

      - name: debug
        if: failure()
        run: |
          cat /tmp/sphinx-err* || true  # sphinx traceback
