name: test

on:
  push:
    branches:
      - master
      - '8.*.x'
  pull_request:
  workflow_dispatch:
    inputs:
      cylc-flow-tag:
        description: 'cylc-flow ref'
        required: true
      cylc-rose-tag:
        description: 'cylc-rose ref'
        required: true
      cylc-uis-tag:
        description: 'cylc-uis ref'
        required: true
      metomi-rose-tag:
        description: 'metomi-rose ref (for cylc-rose install)'
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        # use login shell for conda activation
        shell: bash -leo pipefail {0}
    steps:
      - name: configure python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: configure node
        uses: actions/setup-node@v6
        with:
            node-version: 'lts/*'

      - name: checkout cylc-doc
        uses: actions/checkout@v6

      - name: install dependencies
        uses: ./.github/actions/install-dependencies

      - name: install cylc-doc
        run: pip install .[all]

      - name: install libs
        uses: cylc/release-actions/install-cylc-components@v1
        with:
          cylc_flow: true
          cylc_flow_opts: 'main_loop-log_data_store,main_loop-log_db,main_loop-log_main_loop,main_loop-log_memory'
          cylc_uiserver: true
          cylc_uiserver_opts: ''
          cylc_rose: true
          cylc_rose_opts: ''
          metomi_rose: true
          metomi_rose_opts: ''

      - name: lint
        run: |
          flake8
          npx eslint@v8 .

      - name: (debug only) list language dictionaries
        if: runner.debug
        shell: python
        env:
          PYENCHANT_VERBOSE_FIND: true
        run: |
          import enchant
          print(enchant.list_dicts())

      - name: build & test
        run: |
          make html spelling linkcheck \
            SPHINXOPTS='-Wn --keep-going' FORCE_COLOR=true

      - name: debug sphinx failure
        if: failure()
        run: |
          cat /tmp/sphinx-err* || true  # sphinx traceback

      - name: debug - pip list
        if: failure()
        run: pip list
